.search {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 3rem auto 0;
  padding: 1rem 2rem;
  width: 100%;
  max-width: 56rem;
  gap: 2rem;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.search__input {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  flex: 0.75;
  background: transparent;
  border: 2px solid #94a3b8;
}
.search__actions {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}
.search__button {
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.search__button-icon {
  color: white;
  font-weight: 600;
}
